<!DOCTYPE html>
<html class="chrometwo bootstrap3 next" xmlns:ng="http://angularjs.org">
  <head>
	<title><%= $lab_name %></title>
	<link rel="stylesheet" type="text/css" media="all" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" media="all" href="/webassets/avalon/s/bootstrap3.overrides.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/chrome_themes/umbra/s/labs.css">
    	<link rel="stylesheet" type="text/css" media="all" href="<%= $lab_context %>/css/preview.css"/>
	<link href="/chrome_themes/umbra/s/chrometwo.css" rel="stylesheet" />
    	<script type="text/javascript" src="/webassets/avalon/j/lib/require.js"></script>
    	<script type="text/javascript" src="<%= $lab_context %>/js/app.js?bust=1"></script>
    	<script type="text/javascript" src="<%= $lab_context %>/js/vars.js"></script>
    	<script type="text/javascript" src="<%= $lab_context %>/js/appCommon.js"></script>
    	<script type="text/javascript" src="<%= $lab_context %>/js/mainctrl.js"></script>
	<%= csrf_meta_tags %>
  </head>
  <body class="chrometwo">
	<div id="chrometwo">
      <div id="main" style="visibility: hidden;">
		<%= yield %>
		<script type="text/javascript">
		  window.breadcrumbs = [["Labs", "/labs/"], ["<%= $lab_name %>", "<%= $lab_context %>"]];
		</script>	
		
		<script type="text/javascript">
			// JS that depends on jQuery UI
			chrometwo_require(['jquery'], function (jq) {
			    jq(document).ready(function() {
				jq('.popovers').popover({
						trigger: 'manual',
						animate: true,
						html: true,
						placement: 'bottom'
					}).click(function(e) {
						e.preventDefault();
					}).mouseenter(function(e){
					    var _this = this;
					    jq(this).popover('show');
					    jq(".popover").on("mouseleave", function () {
					    $(_this).popover('hide');
					});
						}).mouseleave(function(e) {
						    var _this = this;
						setTimeout(function () {
						    if (!jq(".popover:hover").length) {
							jq(_this).popover('hide')
						    }
						}, 100);
							});
				});

			    jq(document).ready(function() {
				jq('input').change(function(){

					    });
				    });
			    jq(document).ready(function() {
				jq('select').change(function(){

					  });
					
				  });
			});

			
		</script>
		
		<script type="text/javascript">
    		  // JS that depends on jQuery UI
    		  chrometwo_require([], function () {
        		$(document).ready(function() {
            			$('.form-group .fa').popover();
            			$('.btn-tooltip').tooltip();
        		});
    		  });
		</script>

	  </div>
	</div>
  </body>
</html>
